:root {
    --foreground: #1f1f1f;
    --background: #1A1A1A;
}

html {
    width: 100%;
    height: 100%;

    color: white;
    background-color: var(--background);
}

a {
    display: flex;
    align-items: center;

    color: white;
    text-decoration: none;
}

a img {
    padding-right: 10px;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bordered-item {
    border-radius: 15px;
    border: 3px solid white;
    background-color: var(--foreground);
}

#title {
    font-size: 40px;
    font-weight: bold;

    gap: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

#content {
    width: 600px;

    gap: 25px;
    display: flex;
    flex-direction: column;
}

#description {
    opacity: 50%;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}