:root {
    --foreground: #2c2c2c;
    --background: #1A1A1A;
}

html {
    width: 100%;
    height: 100%;

    color: white;
    background-color: var(--background);
}

a {
    display: flex;
    align-items: center;

    color: white;
    text-decoration: none;
}

a img {
    padding-right: 10px;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bordered-item {
    border-radius: 15px;
    background-color: var(--foreground);
}

#title {
    font-size: 40px;
    font-weight: bold;

    gap: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

#content {
    width: 700px;

    gap: 25px;
    display: flex;
    flex-direction: column;

    animation: slide-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#description {
    opacity: 75%;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}

@keyframes slide-in {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
