.Footer {
    right: 0%;
    bottom: 0%;
    margin: 15px;
    position: fixed;

    gap: 10px;
    display: flex;
    font-weight: bold;
}

.Footer div {
    padding: 15px;
    border-radius: 10px;
}

.Footer img {
    padding-right: 10px;
}

.Version {
    background-color: #3c3c3c;
}

.GitHub {
    background-color: #2b3137;
    
    transition: all ease-in-out 0.1s;
}

.GitHub:hover {
    cursor: pointer;
    filter: brightness(1.25);
    
    transition: all ease-in-out 0.1s;
}

@media (max-width: 480px) {
    .Footer {
        display: none;
    }
}