.Navigation {
    display: flex;
    justify-content: center;

    gap: 30px;
    font-size: 20px;
    font-weight: bold;

    top: 2%;
    left: 0%;
    height: 40px;
    width: 100%;
    position: fixed;
}

.Navigation a {
    transition: all ease-in-out 0.1s;
}

.Navigation a:hover {
    transition: all ease-in-out 0.1s;
    border-bottom: 3px solid white;
}

@media (max-width: 480px) {
    .Navigation {
        display: none;
    }
}