.Project {   
    padding: 30px;
    border-radius: 15px;
    background-color: var(--foreground);

    transition: all ease-in-out 0.1s;
}

.Project img {
    width: 25px;
}

.Title {
    display: flex;
    justify-content: space-between;

    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

.Icons {
    gap: 20px;
    display: flex;
    justify-content: normal;
}

.Project:hover {
    cursor: pointer;
    filter: brightness(1.25);

    transition: all ease-in-out 0.1s;
}