.RedirectButton {
    flex: 1;
    padding: 20px;
    font-size: 20px;

    border-color: var(--foreground);
    background-color: var(--foreground);

    transition: all ease-in-out 0.1s;
}

.RedirectButton img {
    padding-right: 15px;
}

.RedirectButton:hover {
    cursor: pointer;

    filter: invert(1);
    border-color: black;
    background-color: black;

    transition: all ease-in-out 0.1s;
}